@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: white;
  
}

/* subroute items style */
.bullet::after {
  content: '';
  position: absolute;
  width: 1.6px;
  height: calc(100% - 32px);
  background: #ABABAB;
  left: 8px;
  top: -12px;
  margin-top: 30px;
}

.bullet2::after {
  content: '';
  position: absolute;
  width: 1.6px;
  height: calc(100% - 32px);
  background: #ABABAB;
  left: 30px;
  top: -12px;
  margin-top: 30px;
}

.bullet div{
  padding: 2px 0;
}